body{
    font-family: sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    


    &::before{
        content: "";
        position: fixed;
        background: #040404 top right no-repeat; // can place a url image
        background-size: cover;
        left: 0;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: -1;
    }
}
nav.navbar{
    background-color: #041f32;
    position: fixed;
    top: 0;
    z-index: 100;
    a{
        color: #04aed5
    }
    .dropdown-menu{
        background-color: #041f32;
        .dropdown-item{
            color: #04aed5;
        }
    }
}

a{
    color: crimson;
    text-decoration: none;

    &:hover{
        color: darkred;
        text-decoration: none;
    }
}

#landing{
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/1647252/pexels-photo-1647252.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    // background: url(https://images.pexels.com/photos/2331569/pexels-photo-2331569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) ;
    background-size: cover;
    position: relative;

    &::before{
        content: "";
        background: rgba(0,0,0,0.5);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .landing-container{
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 15px;
    }

    h1{
        margin: 0 0 10px 0;
        font-size: 64px;
        font-family: cursive; // Update later
        color: #fff;

    }
    h2{
        color: #eee;
        margin-bottom: 50px;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .btn-scroll{
        transition: .5s;
        color: rgb(197, 196, 196);
        animation: up-down 1s ease-in-out infinite alternate-reverse both;
        text-decoration: none;
    
        i{
            font-size: 48px;
        }

        &:hover{
            color: rgb(96, 190, 204);
            text-shadow: black 2px 5px 5px;
        }
    }
}

.skills{

    .progress{
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;

        .skill{
            padding: 10px 0;
            margin: 0;
            text-transform: uppercase;
            display: block;
            font-weight: 500;
            font-family: sans-serif;
            color: whitesmoke;

            .val{
                float: right;
                font-style: normal;
            }
        }
    }


    .progress-bar-wrap{
        background:  rgb(16, 121, 190);
    }

    .progress-bar{
        height: 10px;
        transition: .9s;
        background: linear-gradient(to right, rgb(66, 25, 180), rgb(8, 216, 147));
        // background-color: indigo;
    }
}

.section-title{
    h2{
        color: rgb(16, 121, 190);
    }
    p{
        color: rgb(57, 81, 97);
    }
}
.resume{
    .resume-title{
        font-size: 26px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
    }
    .resume-item{
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid indigo;
        position: relative;
        color: #eee;

        h4{
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: sans-serif;
            color: aqua;
            margin-bottom: 10px;

        }
        h5{
            font-size: 15px;
            background: rgba(255,255,255,0.15);
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;

        }
        ul{
            padding-left: 20px;
            li{
                padding-bottom: 0;

            }
        }

        &:last-child{
            padding-bottom: 0;
        }
        &::before{
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: rgb(73, 20, 220);
            border: 2px soild rgb(11, 131, 101);
        }
    }
}


.project-title{
    color: rgb(16, 121, 190);
    border: whitesmoke;
}

.projects{
    .img-container{
        background-color: black;
        img{
            height: 25vh;
            width: 25vw;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            background: linear-gradient(to right, green,blue);
        }
    }
}