body {
  font-family: sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

nav.navbar {
  background-color: #041f32;
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: .5;
}

nav.navbar:hover {
  opacity: 1.0;
}

nav.navbar a {
  color: #04aed5;
}

nav.navbar .dropdown-menu {
  background-color: #041f32;
}

nav.navbar .dropdown-menu .dropdown-item {
  color: #04aed5;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: darkred;
  text-decoration: none;
}

#landing {
  width: 100%;
  height: 100vh;
  background: url(https://images.pexels.com/photos/1647252/pexels-photo-1647252.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-size: cover;
  position: relative;
}

#landing::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#landing .landing-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#landing h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: cursive;
  color: #fff;
}

#landing h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#landing .btn-scroll {
  transition: .5s;
  color: #c5c4c4;
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
  text-decoration: none;
}

#landing .btn-scroll i {
  font-size: 48px;
}

#landing .btn-scroll:hover {
  color: #60becc;
  text-shadow: black 2px 5px 5px;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-family: sans-serif;
  color: whitesmoke;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #1079be;
}

.skills .progress-bar {
  height: 10px;
  transition: .9s;
}

.section-title h2 {
  color: #1079be;
}

.section-title p {
  color: #395161;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid indigo;
  position: relative;
  color: #eee;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  color: aqua;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 0;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #4914dc;
  border: 2px soild #0b8365;
}

.project-title {
  color: #1079be;
  border: whitesmoke;
}

.projects .img-container {
  background-color: black;
}

.projects .img-container img {
  height: 25vh;
  width: 25vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */